/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-user-select: none;
	/* Chrome, Opera, Safari */
	-moz-user-select: none;
	/* Firefox 2+ */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Standard syntax */
	background-color: #636363;
	-webkit-font-smoothing: antialiased;
}

nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #000000;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.btn-flat.flat-hover:hover {
	background-color: #c5a600!important;
}

.animation-in {
	transition: opacity 0.9s ease-out;
	opacity: 0;
}

.brand-logo {
	transition: all 0.3s ease-in;
}

a.brand-logo:hover {
	color: #030303;
}

h6 {
	font-weight: 300;
	font-size: 14px;
}

.post-info {
	padding-left: 15px;
	padding-right: 15px;
}

h5 {
	font-weight: bold;
}

.pinned-post {
	background-color: #FCFFDB;
}

p {
	padding-left: 10px;
	padding-right: 10px;
}

.post-content {
	float: right;
}

.section a {
	color: rgba(0, 0, 0, 0.87);
}

.section.fixed {
	max-width: 450px;
}

.side-top {
	padding: 10px;
	height: 44px;
	background-color: #00C853;
	min-width: 100%;
	text-align: left;
}

.side-content {
	padding: 10px;
	min-width: 100%;
}

.sidebar.truncate {
	margin-bottom: 3px;
	padding: 10px;
}

.side-content p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.side-content.input-field {
	margin-top: 0px !important;
}

.input-field:first-child {
	margin-top: 0px;
}

.side-content > .btn-flat {
	padding: 2px 5px;
}

.centered {
	text-align: center;
}

.pad-top {
	padding-top: 1rem;
}

.logo-img {
	position: fixed;
	right: 3%;
	bottom: 5%;
	z-index: 99999;
	height: 100px;
	width: 100px;
	-webkit-backface-visibility: hidden;
	/* fix jagged edges */
	outline: 1px solid transparent;
	/* fix jagged edges */
}

.emblem-img {
	width: 200px;
	height: 200px;
	-webkit-backface-visibility: hidden;
	/* fix jagged edges */
	outline: 1px solid transparent;
	/* fix jagged edges */
}

.text-depth {
	text-shadow: 1px 3px 0px #191919;
}

.block {
	display: inline-block!important;
}

.side-bar {
	background-color: #636363;
	max-height: 100%;
	min-height: 100%;
	text-align: center;
}

.main {
	background-color: #fff;
}

.side-section {
	margin-bottom: 30px;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	background-color: #8C8C8C;
	-webkit-box-shadow: 5px 5px 25px -2px rgba(0, 0, 0, 0.69);
	-moz-box-shadow: 5px 5px 25px -2px rgba(0, 0, 0, 0.69);
	box-shadow: 5px 5px 25px -2px rgba(0, 0, 0, 0.69);
	transition: background-color 200ms 0s ease-out;
	overflow: hidden;
}

.side-section:hover,
.side-section:focus {
	background-color: #949494;
}

.sec-header {
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
	border-radius: 6px;
}

.sec-content {
	text-align: left;
}

h2.articleTitle {
	margin-bottom: 5px;
}

h3.articleInfo {
	font-weight: 300;
	font-size: 14px;
	margin-top: 0;
}
